version: '3.1'

services:
  db:
    image: postgres:12
    restart: always
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_USER: test
      POSTGRES_DB: test
    ports:
      - 5532:5432
